@font-face {font-family: "Publico Headline";
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.svg#Publico Headline") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: "oregon";
    src: url(../fonts/OregonLdo-d9q7.ttf);
}
@font-face {
      font-family: "questa";
      src: url(../fonts/2-Questa_Sans_Regular.otf);
}
html {
    overflow-x: hidden;
}
.social-footer {
    margin: auto !important;
    width: 60%;
}
.owl-carousel {

}
.row {
    width: 100%;
}
#example-dropdown-bottom-right1 {
    padding: 0px !important;
}
a {
    color: $black !important;
}
li {
    a:hover, a:focus {/* 
        font-size: 14px; */
        text-decoration: underline !important;
    }
}
.top-bar {
    font-size: 12px;
    background-color: black;

    ul {
        background-color: black;
    }
}
.search-button {
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
    i {
        color: $black !important;
    }
}
.float-right {
    float: right !important;
}
.fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999999 !important;
}
#responsive-menu {/* 
    position: fixed !important; */
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
}
#responsive-menu-desktop {/* 
    position: fixed !important; */
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
    display: none;
}
.menu-logo {
    text-align: center;
    display: block ruby !important;
    font-size: 14px;
}
footer {
    background-color: $menta;
    padding: 50px 50px 0px 50px ;
    font-size: 12px;

    .vertical.dropdown.menu.accordion-menu {
        text-align: center;
    }
}
.container {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.spacer-800 {
    margin-bottom: 800px;
}
.spacer-700 {
    margin-bottom: 700px;
}
.spacer-600 {
    margin-bottom: 600px;
}
.spacer-300 {
    margin-bottom: 300px;
}
.spacer-250 {
    margin-bottom: 250px;
}
.spacer-200 {
    margin-bottom: 200px;
}
.spacer-100 {
    margin-bottom: 100px;
}
.spacer-50 {
    margin-bottom: 50px;
}
.spacer-40 {
margin-bottom: 40px;
}
.spacer-30 {
    margin-bottom: 30px;
}
.spacer-10 {
margin-bottom: 10px;
}
.spacer-20 {
margin-bottom: 20px;
}

/* 
.article-container {
    background-color: $white;
    padding: 30px;
    text-align: center;

    .article-category {
        color: $white;
        background-color: $black;
        padding: 5px;
        font-family: 'Philosopher' !important;
        font-size: 12px;
        display: inline-block;
        line-height: 1.2;
        margin-bottom: 15px;
        background: #eec7bc;
        color: #ffffff;
        background: #000000;
        letter-spacing: 1px;
        padding: 5px 8px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
    }
    .date {
        color: $sec-color;
        text-align: center;
        font-size: 11px;
    }
    .article-text {
        text-align: left;
    }
    .keep-reading-button {
        color: $white !important;
        background-color: #cfe2cf !important;
    }
    .article-social {
        font-size: 11px;
    }
} */

.h_400 {
    height: 400px !important;
}
.h_500 {
    height: 500px !important;
}
.h_600 {
    height: 600px !important;
}
.column {
    .callout {
      padding: 0px;
      border: none;
    }
}
.main-article {
    .main-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .text-wrapper {
            position: absolute;
            bottom: 0;
            left: 20px;
            color: white;
            h2 {
                font-size: 3rem;
            }

        }

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}
.medium-article {
    .medium-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}

.latest-articles-container {
    background-color: $white;
    display: inline-block;
    font-size: 12px;
    padding: 30px;

}
.small-article-container {
    font-size: 12px;
    text-align: center;
    
    .date {
        text-align: center;
        font-size: 11px;
    }
}
.borded {/* 
    border-left: 2px black solid; */
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    text-align: center;
     h4 {
         margin: 5px 0px;
     }
}
.bg-color-white {
    background-color: $white !important;
}
.archive-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }

    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
    }

}
.p-inherit {
    position: inherit !important;
}
.latest-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-bottom: 20px;
    .date {
        color: $sec-color;
        text-align: left;
        font-size: 11px;
    }
    a {
        text-align: left;
    }
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
}
.categories-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
        border-bottom: 1px solid $light-green;
    }
}
.column, .columns, .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left !important;
}
.main-photo-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    color: white;
    background-position:center;
    background-size: auto;
    a {
        color: white !important;
    }
}
@media print, screen and (max-width: 39.99875em) {

    .about-us-wrapper {
        h2 {
            margin-top: 50px;
            text-align: center;
        }
    }
    .main-photo-wrapper {
        height: 300px !important;
    }
    .spacer-250 {
        margin-bottom: 125px !important;
    }
    .spacer-600 {
        margin-bottom: 300px;
    }
    .spacer-700 {
        margin-bottom: 350px !important;
    }
    .social-footer {
        width: 85%;
    }
    .h_400 {
        height: 200px !important;
    }
    .h_500 {
        height: 250px !important;
    }
    .h_600 {
        height: 300px !important;
    }

    .article-text {
        font-size: 11px !important;
    }
    .date {
        font-size: 9px !important;
    }


    .subscribe-banner-container {
        padding: 10px !important;
        font-size: 18px !important;
        
        form {
            display: block !important;
    
            .newsletter-button {
                margin-right: 50px;
            }
            input {
                height: 50px;
                width: 100% !important;
            }
            p {
                text-align: center !important;
            }
        }
    
        .newsletter-button {
            background-color: #cfe2cf;
            color: $white;
            width: 100%;
        }
    
        .newsletter-button:hover,.newsletter-button:focus {
            background-color: $black;
        }
        h3 {
            background-color: $black;
            color: $white;
            font-size: 14px !important;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
    
    }

}
.subscribe-banner-container {
    padding: 100px;
    width: 100%;
    font-size: 20px;
    
    form {
        display: flex;

        .newsletter-button {
            margin-right: 50px;
        }
        input {
            height: 50px;
            width: 350px;
        }
        p {
            text-align: right;
        }
    }

    .newsletter-button {
        background-color: #cfe2cf;
        color: $white;
    }

    .newsletter-button:hover,.newsletter-button:focus {
        background-color: $black;
    }
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

}
.follow-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 20px;

    i {
        padding: 20px;
        border: 3px solid $light-green;
        border-radius: 15px;
        width: 100%;
        text-align: center;
    }

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

}
.author-banner-container {
    background-color: $white;
    font-size: 11px;
    display: inline-block;

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.m-t-9 {
    margin-top: 9px !important;
}
.off-canvas {
    background-color: $menta !important;
    font-size: 12px;

    .dropdown-pane {
        width: 150px !important;
    }
}
.about-us-wrapper {
    background-color: white;
    padding: 100px 25px;
}
.navigation-bar {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    
    .menu a,button, i{
        color: white !important;
    }
    .fa.fa-bars {
        font-size: 16px;
    }
    .fa.fa-bars:hover {
        cursor: pointer;
        font-size: 17px;
    }
    .fab, .fas {
        font-size: 13px !important;
    }
    .fab:hover, .fas:hover {
        font-size: 14px !important;
        font-weight: bolder;
    }
}
.padding-a {
    padding: 11.2px 16px;
}
.menu.vertical {
    position: absolute;
}
.menu.vertical.nested {
    position: inherit;
}
.d-flex {
    display: flex !important;
}